<ion-header>
  <ion-toolbar color="dark">
    <ion-button (click) = "novoCliente()" slot="end" color="dark">
      <ion-icon name="add"></ion-icon>
    </ion-button>
    <ion-title>Clientes</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item-sliding *ngFor="let c of clientes">
      <ion-item-options>
        <ion-item-option color="danger" (click) = "remover(c.id)">Delete</ion-item-option>
      </ion-item-options>
        <ion-item>{{c.nome}}</ion-item>
    </ion-item-sliding>
  </ion-list>
</ion-content>
